aiofiles==0.5.0
anaconda-client==1.7.2
anaconda-navigator==2.0.3
appdirs==1.4.4
applaunchservices==0.2.1
argh==0.26.2
asttokens==2.0.5
atomicwrites==1.4.0
backports.entry-points-selectable==1.1.0
bkcharts==0.2
black==19.10b0
blessed==1.19.0
blis==0.7.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
catalogue==2.0.4
certifi==2020.12.5
clyent==1.2.2
commonmark==0.9.1
conda==4.10.3
conda-build==3.21.4
conda-verify==3.4.2
contextlib2==0.6.0.post1
cycler==0.10.0
cymem==2.0.5
cytoolz==0.11.0
debugpy==1.4.0
diot==0.1.4
distlib==0.3.3
django = "*"
enlighten==1.10.1
entrypoints==0.3
et-xmlfile==1.0.1
executing==0.8.1
fastai==2.4.1
fastcache==1.1.0
fastcore==1.3.20
fastprogress==1.0.0
future==0.18.2
gmpy2==2.0.8
h5py==2.10.0
HeapDict==1.0.1
inflection==0.5.1
ipykernel==6.0.3
ipython==7.25.0
jdcal==1.4.1
Jinja2==3.0.1
json5==0.9.5
jupyter==1.0.0
kornia==0.5.6
liquidpy==0.7.0
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
murmurhash==1.0.5
mypy-extensions==0.4.3
navigator-updater==0.2.1
olefile==0.46
opencv-python==4.5.3.56
pandas==1.2.4
parso==0.7.0
pathspec==0.7.0
pathy==0.6.0
patsy==0.5.1
pep8==1.7.1
pipda==0.4.5
pipen==0.1.0
pipenv==2021.5.29
pkginfo==1.7.0
platformdirs==2.3.0
ply==3.11
prefixed==0.3.2
preshed==3.0.5
pure-eval==0.2.1
pyarrow==3.0.0
pycosat==0.6.3
pycurl==7.43.0.6
pydantic==1.8.2
pydicom==2.1.2
pylibjpeg==1.3.0
pylibjpeg-libjpeg==1.2.0
pylibjpeg-openjpeg==1.1.1
pylibjpeg-rle==1.1.0
pyodbc===4.0.0-unsupported
pyparam==0.4.11
pytest==6.2.3
python_version = "3.8"
python-simpleconf==0.4.0
python-slugify==5.0.2
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
rich==10.10.0
scikit-image==0.18.1
simplegeneric==0.8.1
simplug==0.0.6
smart-open==5.1.0
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
tables==3.6.1
terminado==0.9.4
text-unidecode==1.3
thinc==8.0.8
tifffile==2020.10.1
torch==1.9.0
torchvision==0.10.0
typer==0.3.2
unicodecsv==0.14.1
uvloop==0.16.0
varname==0.8.1
virtualenv==20.8.0
virtualenv-clone==0.5.7
wasabi==0.8.2
webencodings==0.5.1
widgetsnbextension==3.5.1
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
xqute==0.0.6
zict==2.0.0
zope.event==4.5.0