<html>
    <body>
        {%extends 'base.html'%}
        {%block content%}
            <h1> Advances in AI</h1>
            <p>Machines have become smarter and can think like us. Latest AI/NLP models demonstrate it. This site demonstrates 2 such use cases</p>
            <li>AI can write a story based on the idea that you give it. <a href="/story/story/">Story</a> </li>
            <li>AI can write code based on plain English text. <a href="/story/code"">Code</a> </li>

            {% endblock %}

</body>
</html>
