<html>
    <body>
        {%extends 'base.html'%}
        {%block content%}
            <h1> Advances in Natural Language Processing!!</h1>
            <p>Machines can think like us and the latest NLP models demonstrate it. This site demonstrates 2 such use cases</p>
            <li>NLP can write a story based on the idea that you give it. <a href="/story/story/">Story</a> </li>
            <li>NLP can write code based on plain English text. <a href="#"">Code</a> </li>

            {% endblock %}

</body>
</html>
