<html>

<body>
    {%extends 'base.html'%} {%block content%}

    <h1>Natural Language Processing for a story</h1>
    <p class="lead">
        Advances in NLP and AI have made it possible for machines to excel also in
        creative tasks like story writing.
    </p>


    {% for message in messages%}
    <p>{{message}}</p>
    {% endfor %}

    <label for="basic-url" class="form-label">Your idea/story: Please add 1-2 lines of text and click submit</label>

    <div class='form-group'>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit" class="btn btn-primary">Submit</button>

            </tr>
            </table>
        </form>
    </div>
  

    <p><b>Story Created by NLP program is</b></p>

    </p>{{response_text}} </p>

   

    {% endblock %}
</body>

</html>