<html>
    <body>
        {%extends 'base.html'%}
        {%block content%}

            <h1>Natural Language Processing for creating a story</h1>
            <p class="lead">
                Adavnces in Natural Language Processing and artificial intelligence have made it possible for machines to excel also in creative task of story writing.
              </p>
            <div class='row'>
                <div class="col"></div>
                
            </div>
        {% endblock %}

</body>
</html>