<html>
    <body>
<h1> Hello {{name}}!!
</h1>

<h1>Products</h1>
<div class='row'>
    <div class='col'>
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Kiwi_aka.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>


</div>

<ul>
    {% for product in products%}
    <li>{{product.name}} (${{product.price}})</li>
    {%endfor%}


</ul>
</body>
</html>
